/* Stylesheet */

/*layout*/

.container {
	background: lightpink;
	margin: 0 auto;
	width: 960px;
	
	}

nav {
	background: pink;
	width: 960px;
	}
article {
	background: cyan;
	float: left;
	width: 640px;
	}
	
aside {
	background: lightyellow;
	float: left;
	width: 320px;}
	
footer {
	background: lightgreen;
	clear: both;
	width: 960px;
	}